.ll-skin-nigran {

}

.ll-skin-nigran .ui-widget {
	font-family: "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
	background: #29a2d9;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0 1px 3px #6abce3;
}

.ll-skin-nigran .ui-datepicker {
	width:900px;
	margin:0 auto;
	margin-top:59px;
	padding: 0;
	border-radius:10px 10px 0 0;
}

.ll-skin-nigran .ui-datepicker-header {
	border: none;
	border-bottom: 1px solid #2d97cb;
	background: transparent;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}

.ll-skin-nigran .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-title {
	margin-top: 32px;
	margin-bottom: 22px;
	font-size:30px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover,
.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover,
.ll-skin-nigran .ui-datepicker .ui-datepicker-next,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev {
	width:50px;
	height:50px;
	margin-top:32px;
	border:none;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next span,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
	width:50px;
	height:50px;
	background:#0C6;
	margin-top: 0;
	top: 0;
	font-weight: normal;
	background: url(../images/right.png) no-repeat center center;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
	background: url(../images/left.png) no-repeat center center;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover span {
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover span {
}

.ll-skin-nigran .ui-datepicker table {
	margin: 0;
}

.ll-skin-nigran .ui-datepicker th {
	color: #095071;
	background:#83d4fb;
	font-size: 30px;
	font-weight: normal;
	text-shadow: 0 0 2px #45c4f8;
	text-transform: uppercase;
	border: none;
	border-top: 1px solid #3fabdc;
}

.ll-skin-nigran .ui-datepicker td {
	border: none;
	padding: 0;
}

.ll-skin-nigran td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	padding: 1em 0;
	margin: 0;
	font-weight: normal;
	color: #efefef;
	font-size: 30px;
}

.ll-skin-nigran td .ui-state-active,
.ll-skin-nigran td .ui-state-hover {
	background: #6CF;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}


